{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/desktop_splash.css">
  <script src="https://use.fontawesome.com/0f9c21042f.js"></script>
{{ end }}
{{ define "main" }}
<div id="desktop">
  {{ .Content }}
</div>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
