{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    @media (min-width: 961px) {
      .container{
          width:960px;
      }
    }

    .splash {
      font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
    }

    .getting-started-step {
      line-height: 30px;
    }
  </style>
  <script src="https://use.fontawesome.com/0f9c21042f.js"></script>
{{ end }}
{{ define "main" }}
<div class="splash">
  {{ .Content }}
</div>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
